/* reset browser styles */
html, body, h1, h2, h3, h4, h5, h6, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}

ol { 
  margin-left: 1.4em; 
  list-style: decimal; 
}
ul { 
  margin-left: 15px; 
  list-style-image: url(../images/bullet.gif);
}
img {
  border: 0;
}
/* end reset browser styles */





body {
	padding: 0;
	margin: 8px;
	font-size:13px;
/*	font-size:84.1%;  /* ¾Í´Õ·Ñé§ ie firefox áÅÐ chrome */
/*	font-size:80%;  /* ¾Í´Õ·Ñé§ ie firefox áÅÐ chrome */
	font-family: "ms sans serif", tahoma,Thonburi;
	color: #272727;
}

table {
	font-size:100%; 
	font-family: "ms sans serif", tahoma,Thonburi;
/*	border-collapse: collapse;  */
/*	border-spacing: 0; */
}


textarea {
	width: 90%;
	font-size:100%;  /* ·ÓãËé ie6 ¢ÂÒÂä´é */
	font-family: "ms sans serif", tahoma,Thonburi;
}

p {
/*	margin: 1em 0px; */
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

h3 {
	font-size: 13px;
	font-weight: bold;
}


i {
	font-family: tahoma,Thonburi;
	font-size:13px; 
}


option {
	font-family: tahoma,Thonburi;
}

input {
	font-size:13px; 
	font-family: "ms sans serif", tahoma,Thonburi;
}


.white	{
	color:#FFFFFF;
}

.gray {
	color:gray;
}

.yellow {
	color: #FFFF00;
}

.small_letter   { 
	FONT-SIZE: 12px; 
}

.name   {
	font-weight: bold; 
	FONT-SIZE: 90%; 
}

.title1	{
	color: #FFFFCC; 
	font-weight: bold;
	text-align: center;
}

.normal_small { 
	font-size: 11px; 
}

.small_strong  {
	font-size: 12px; 
	font-weight: bold;
}

.large_strong {
	font-size: 15px; 
	font-weight: bold;
}

:link {COLOR: #181099;	TEXT-DECORATION: none}
:active {COLOR: #181099;	TEXT-DECORATION: underline}
:visited {COLOR: #660099;	TEXT-DECORATION: none}
A:hover {	TEXT-DECORATION: underline}
td.topics    { background-color: #6699CC; border-left: 0px solid #DFEFFF; border-right: 0px solid #4773A3; 
               border-top: 0px solid #DFEFFF; border-bottom: 0px solid #4773A3 }
td.board   { background-color: #336699; border-left: 1px solid #89ABC7; border-right: 1px solid #375873; 
               border-top: 1px solid #89ABC7; border-bottom: 1px solid #375873 }
td.topics a:link { color: #FFFFFF; line-height: 15px; text-decoration: none; padding-left: 2px }
TD.topics A:acitve {PADDING-LEFT: 2px; font-family: "ms sans serif" ; font-size: 8pt; font-weight: bold;  COLOR: #FFFFFF; LINE-HEIGHT: 15px; TEXT-DECORATION: none}
TD.topics A:visited {PADDING-LEFT: 2px;  COLOR: #FFFFFF; LINE-HEIGHT: 15px; TEXT-DECORATION: none}
td.topics a:hover { color: #6699CC; text-decoration: underline }


td.menubar    { font-weight: bold; FONT-SIZE: 90%; FONT-FAMILY: "ms sans serif","tahoma";border-top: 1px solid #DFEFFF; border-bottom: 1px solid #4773A3 }
td.menubar a:link { color: #FFFFFF; line-height: 15px; text-decoration: none; padding-left: 2px }
td.menubar A:acitve {PADDING-LEFT: 2px; COLOR: #FFFFFF; LINE-HEIGHT: 15px; TEXT-DECORATION: none}
td.menubar A:visited {PADDING-LEFT: 2px; COLOR: #FFFFFF; LINE-HEIGHT: 15px; TEXT-DECORATION: none}
td.menubar a:hover {  color: #000066; text-decoration: none }


td.menu    { background-color: #6699CC; border-left: 1px solid #DFEFFF; border-right: 1px solid #4773A3; 
               border-top: 1px solid #DFEFFF; border-bottom: 1px solid #4773A3 }

td.menu a:link { color: #FFFFFF; line-height: 15px;  padding-left: 2px }
TD.menu A:acitve {PADDING-LEFT: 2px; WIDTH: 100%; COLOR: #FFFFFF; LINE-HEIGHT: 15px; TEXT-DECORATION: none}
TD.menu A:visited {PADDING-LEFT: 2px; font-family: "ms sans serif" ; font-size: 8pt; font-weight: bold; WIDTH: 100%;
 COLOR: #FFFFFF; LINE-HEIGHT: 15px; TEXT-DECORATION: none}
td.menu a:hover { color: #000066; BACKGROUND-COLOR: #fe7474; text-decoration: underline }

TD.title {  font-weight: bold; FONT-SIZE: 100%; FONT-FAMILY: "ms sans serif","tahoma";color: #000080; BACKGROUND-IMAGE: URL(../images/titlebg1.gif);  }







.quote {background-color: #D8D8D8; padding: 15px;border-top: 1px solid #B4B4B4; border-left: 1px solid #B4B4B4;border-bottom: 1px solid #CACACA; border-right: 1px solid #CACACA;}

.display_inline 
{
	display: inline;
}
.display_none
{
	display: none;
}

.profile_title	
{
	FONT-FAMILY: "ms sans serif",tahoma; color: #3B3B3B; font-weight: ; font-size: 13px; 
	background-image: url(../images/titlebg3.gif);
	background-repeat: no-repeat;
	margin-top: 3px;
	margin-right: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
}

.watch_member_thumbnail
{
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
}

.poster_col {
	width: 180px;
	margin: 5px;
}

.detail_col {
	margin: 5px;
}

.sup_letter1   { 
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	position: relative;
	left: 1px;
	vertical-align: 7px; 
	font-size: 9px; 
	color: #FFFFFF;
	background-color: #33CC33; 
	font-family:  Arial;
}

a.sup_letter1:hover {	TEXT-DECORATION: none;}
a.sup_letter1:visited {color: #FFFFFF;}

.sup_letter2   { 
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	position: relative;
	left: 1px;
	vertical-align: 7px; 
	font-size: 9px; 
	color: #FFFFFF;
	background-color: #0099CC; 
	font-family:  Arial;
}

a.sup_letter2:hover {	TEXT-DECORATION: none;}
a.sup_letter2:visited {color: #FFFFFF;}

.sup_letter3   { 
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	position: relative;
	left: 1px;
	vertical-align: 7px; 
	font-size: 9px; 
	color: #FFFFFF;
	background-color: #FF6600; 
	font-family:  Arial;
}

a.sup_letter3:hover {	TEXT-DECORATION: none;}
a.sup_letter3:visited {color: #FFFFFF;}



/*======   Button css  =========*/

.buttons a, .buttons button{
    display:inline-block;
    float:left;
    margin:0 7px 0 0;
    border:1px solid #C0C0C0;
    border-top:1px solid #E0E0E0;
    border-left:1px solid #E0E0E0;
    background-color:#f5f5f5;
/*	background: url(../images/bg-normal-button.gif) repeat-x 0 0; */
/*    font-family:  "ms sans serif",Tahoma, Arial; */
	font-family:  Tahoma, Arial;
	font-size:11px;
    line-height:130%;
    text-decoration:none;
/*    font-weight:bold;*/
    color:#232323;
    cursor:pointer;
    padding:2px 10px 2px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
/*
    width:16px;
    height:16px;
*/
}

/* STANDARD */
/*
button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}
*/
/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* flat */
button.flat, .buttons a.flat{
    color:#535353;
}

.buttons a.flat:hover, button.regular:hover{
	background: url(../images/bg-normal-button.gif) repeat-x 0 0;
	text-decoration: none;
    border:1px solid #B2B2B2;
    color:#232323;
}

.buttons a.flat:active{
  /*  background-color:#6299c5;*/
	background: url(../images/bg-press-button.gif) repeat-x 0 0; 
	text-decoration: none;
    border:1px solid #B2B2B2;
    border-bottom:1px solid #E0E0E0;
    border-right:1px solid #E0E0E0;
    color:#232323;
}




/* REGULAR */
button.regular, .buttons a.regular{
	background: url(../images/bg-normal-button.gif) repeat-x 0 0;
    color:#232323;
}
.buttons a.regular:hover, button.regular:hover{
	background: url(../images/bg-normal-button.gif) repeat-x 0 0;
	 text-decoration: none;
    background-color:#f5f5f5;
    border:1px solid #B2B2B2;
    color:#232323;
}

.buttons a.regular:active{
  /*  background-color:#6299c5;*/
	background: url(../images/bg-press-button.gif) repeat-x 0 0; 
	text-decoration: none;
    border:1px solid #B2B2B2;
    border-bottom:1px solid #E0E0E0;
    border-right:1px solid #E0E0E0;
    color:#232323;
}


/*====== end of Button css ==========*/